.avaliable-devices {
    padding: 5.6vw;

    &__list {
        display: grid;
        grid-template-rows: repeat(4, 25%);
        &__item {
            text-align: center;

            h4 {
                margin-top: 20px;
                margin-bottom: 24px;
            }

            li {
                list-style-type: none;
            }

            img {
                max-width: 100%;
            }
        }
    }
}